body{
  padding: 0;
  margin: 0;
}
.about{
}

.welcome{
  padding-top: 64px;
  background-color: #000;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align:center;
  align-items: center;
}

.row{
}

.githtml{
  width: 100%;
  height: 100%;
}

.gitlists{
  width: 240px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.gitlist{
  margin: 10px 30px;
  padding: 5px 0;
  background: #999;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}